.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--blue-sky);
  gap: 25px;
  position: relative;
  padding: 30px;

  .cols {
    display: flex;
    flex-direction: column;
  }

  .contact {
    &-title {
      margin-top: 30px;
      font-size: 30px;
      text-transform: uppercase;
      display: inline-block;
      border-bottom: 2px solid var(--blue-sky);
      align-self: flex-start;
    }
    &-content {
      width: 300px;
      font-weight: 100;
      font-size: 18px;
    }
  }

  .inputBox {
    height: 50px;
    width: 300px;
    position: relative;
    margin-bottom: 26px;
    font-family: "consolas", sans-serif;
    z-index: 3;

    .text {
      color: hsl(228 12% 80%);
      font-size: 16px;
      position: absolute;
      top: 0;
      left: 0;
      margin-left: 20px;
      margin-top: 14px;
      text-transform: uppercase;
      transition: 0.5s;
      pointer-events: none;

      &-error {
        top: -24px;
        font-size: 11px;
        padding: 2px 6px;
        color: var(--sea-blue);
        letter-spacing: 2px;
        font-weight: bold;
        background-color: red;
        color: var(--blue-sky);
      }

      &-right {
        top: -24px;
        font-size: 11px;
        padding: 2px 6px;
        color: var(--sea-blue);
        letter-spacing: 2px;
        font-weight: bold;
        background: var(--blue-sky);
        color: var(--indigo-paper);
      }
    }

    .shadow {
      position: absolute;
      width: 0px;
      height: calc(100% + 2px);
      background: var(--blue-sky);
      transition: 0.5s;
      z-index: -1;
      left: -1px;
      top: -1px;

      &-error {
        width: calc(100% + 2px);
        background: red;
      }

      &-right {
        width: calc(100% + 2px);
        background: var(--blue-sky);
      }
    }

    input {
      background: var(--sea-blue-dark);
      outline: none;
      border: none;
      height: 20px;
      color: aliceblue;
      font-size: 16px;
      padding: 0 20px;
      z-index: 2;
      width: 100%;
      height: 100%;
      font-weight: 100;

      &:focus ~ .text {
        top: -24px;
        background-color: var(--blue-sky);
        font-size: 11px;
        padding: 2px 6px;
        color: var(--sea-blue);
        letter-spacing: 2px;
        font-weight: bold;
        &-error {
          background-color: red;
          color: var(--blue-sky);
        }
      }

      &:focus ~ .shadow {
        width: calc(100% + 2px);
      }
    }

    &.textarea {
      background: var(--sea-blue-dark);
      outline: none;
      border: none;
      height: auto;
      color: var(--blue-sky);
      font-size: 16px;
      z-index: 2;
      width: 100%;

      textarea {
        background: var(--sea-blue-dark);
        width: 100%;
        min-height: 105px;
        max-height: 340px;
        resize: vertical;
        outline: none;
        padding: 20px;
        font-size: 16px;
        color: var(--blue-sky);
        border: none;
        margin-bottom: -4px;
        font-weight: 100;

        &:focus ~ .text {
          top: -24px;
          background-color: var(--blue-sky);
          font-size: 11px;
          padding: 2px 6px;
          color: var(--sea-blue);
          letter-spacing: 2px;
          font-weight: bold;

          &-error {
            background-color: red;
            color: var(--blue-sky);
          }
        }

        &:focus ~ .shadow {
          width: calc(100% + 2px);
        }
      }
    }
  }

  .button-submit {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
  }
  button {
    background: none;
    border: none;

    div {
      width: 176px;
      height: 42px;
      border: 2px solid var(--blue-sky);
      position: relative;
      overflow: hidden;

      .text {
        color: var(--blue-sky);
        position: absolute;
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 3px;
        top: 8px;
        left: 49px;
        transition: 0.5s;
      }

      .bg {
        position: absolute;
        top: -10px;
        left: -10px;
        width: 0px;
        height: 60px;
        background-color: var(--blue-sky);
        transform: skew(20deg);
        transition: 0.5s;
      }

      &:hover {
        .text {
          color: var(--indigo-paper);
        }
        .bg {
          width: 200px;
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .contact-container {
    width: 50%;
    padding: 30px 100px;

    .cols {
      flex-direction: row;
      gap: 25px;
    }

    .contact {
      &-title {
        font-size: 50px;
      }
      &-content {
        width: 100%;
        font-size: 20px;
      }
    }

    .inputBox {
      .text {
        font-size: 14px;
        &-error,
        &-right {
          font-size: 11px;
        }
      }
      &:focus ~ .text {
        font-size: 11px;
      }
    }

    form {
      width: 100%;
      .inputBox {
        width: 100%;
      }
    }
  }
}
