.card {
  width: 280px;
  height: 420px;
  background-color: var(--indigo-paper);
  color: var(--blue-sky);
  margin: 10px auto;
  box-shadow: 0 2px 4px -1px rgb(0 0 0 / 20%), 0 4px 5px 0 rgb(0 0 0 / 14%),
    0 1px 10px 0 rgb(0 0 0 / 12%);

  &-image {
    height: 280px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    cursor: pointer;
    img {
      height: 100%;
    }
  }

  &-body {
    border-top: 3px solid var(--blue-sky);
    padding: 20px;
  }

  &-subtitle {
    font-size: 13px;
  }

  &-title {
    font-size: 26px;
  }

  &-description {
    font-size: 15px;
  }
}
