.dark-screen {
  position: absolute;
  width: 0;
  height: 0;
  background-color: rgba(0, 0, 0, 0.748);
  z-index: 10;
  // display: none;

  &-activated {
    // display: unset;
    width: 100%;
    height: var(--height-page);
  }
}

.image-info {
  position: relative;
  top: var(--position-y);
  width: 0;
  margin: 0 auto;
  display: flex;
  align-items: center;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.483);
  &-activated {
    width: 80vw;
    box-shadow: 0 0 0 15px rgba(0, 0, 0, 0.483);
    transition: 1s;
  }
  img {
    width: 100%;
  }
}

.close-info {
  position: absolute;
  top: 0;
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.293);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 5px 0 0 5px;
  cursor: pointer;
  i {
    color: var(--blue-sky);
  }
}

.link-info {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 0;
  background-color: var(--sunset-orange);
  a {
    color: var(--blue-sky);
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    padding-top: 12px;
  }

  &-activated {
    transition: 1s 0.5s;
    height: 50px;
  }
}
