@mixin keyframes($name, $ti, $ri, $tf, $rf) {
  @keyframes #{$name} {
    0% {
      transform: translateY($ti) translateX(11px) rotate($ri);
    }
    50% {
      transform: translateY(23px) translateX(11px);
    }
    100% {
      transform: translateY($tf) translateX(11px) rotate($rf);
    }
  }
}

@mixin animate($animation, $duration, $method) {
  animation: $animation $duration $method;
}

.navbar {
  height: 100px;
  width: 100vw;
  background-color: var(--indigo-paper);
  font-family: "Nunito", sans-serif;
  display: grid;
  grid-template-columns: auto 120px 10px repeat(2, 150px 10px) 2%;
  grid-template-rows: 30%;
  align-content: center;

  &-activated {
    border-bottom: 2px solid var(--blue-sky);
  }

  &-link {
    height: 100%;
    width: 100%;
    @for $i from 1 through 3 {
      &:nth-child(#{$i}) {
        grid-area: 1 / #{2 * $i} / 1 / #{2 * $i + 1};
      }
    }
    text-align: center;
    font-size: 22px;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--blue-sky);

    // display: flex;
    // align-items: center;
    // justify-content: center;
    // a {
    //   text-decoration: none;
    //   height: 100%;
    // }
    // opacity: 1;
    // margin: 0 10px;
    // transition: 0.2s ease-in;
    // margin-left: 50px;
    // margin-bottom: 20px;
    // &:nth-child(3) {
    //   margin-right: 30px;
    // }

    // &:hover {
    //   border-bottom: 2px solid var(--blue-sky);
    // }
  }
}

.btn-float {
  display: none;
  background-color: var(--indigo-paper);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: 20px;
  border: none;

  &::before {
    content: "";
    position: absolute;
    width: 28px;
    height: 3px;
    border-radius: 2px;
    background-color: var(--blue-sky);
    transform: translateY(14px) translateX(11px);
    box-shadow: 0 9px 0 var(--blue-sky);
    transition: 1s 0.5s;
    @include keyframes(close-up, 23px, -45deg, 14px, 0deg);
    @include animate(close-up, 1s, forwards);
  }

  &::after {
    content: "";
    position: absolute;
    width: 28px;
    height: 3px;
    border-radius: 2px;
    background-color: var(--blue-sky);
    transform: translateY(32px) translateX(11px);
    @include keyframes(close-down, 23px, 45deg, 32px, 0deg);
    @include animate(close-down, 1s, forwards);
  }

  &-open {
    &::before {
      transition: 0.2s;
      box-shadow: 0 9px 0 var(--indigo-paper);
      @include keyframes(open-up, 14px, 0deg, 23px, -45deg);
      @include animate(open-up, 1s, forwards);
    }
    &::after {
      @include keyframes(open-down, 32px, 0deg, 23px, 45deg);
      @include animate(open-down, 1s, forwards);
    }
  }
}

@media (max-width: 400px) {
  .navbar {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border-radius: 0 0 0 300px;
    width: 0px;
    height: 0px;
    position: absolute;
    right: 0;
    transition: 0.5s 0.2s cubic-bezier(0.42, 0, 0.03, 1.42);

    &-link {
      margin-top: 16px;
      margin-left: 40px;
      &:nth-child(1) {
        margin-top: 64px;
      }
      opacity: 0;
      font-size: 0px;
      height: auto;
      width: 200px;
      transition: 0.5s;
    }
    &-open {
      width: 300px;
      height: 300px;

      .navbar-link {
        opacity: 1;
        font-size: 22px;
        transition: 0.5s 0.2s;
      }
    }
  }

  .btn-float {
    display: unset;
  }
}
