#contacto {
  background-color: var(--indigo-paper);
  width: 100%;
  scroll-margin-top: 0px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
}

@media (min-width: 400px) {
  #contacto {
    scroll-margin-top: 75px;
    flex-direction: row;
  }
}
