@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;800&display=swap');

:root {
  --sunset-orange: #E46305;
  --indigo-paper: #002544;
  --sea-blue: #016ABC;
  --sea-blue-dark: #245493;
  --blue-dark: #313349;
  --insubstantial: #B9DFFF;
  --blue-sky: #ECF6FF;
}

*{
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  box-sizing: border-box;

}
html {
  scroll-behavior: smooth;
}
html, body {
  box-sizing: border-box;
  overflow-x: hidden;
}
